.Contact {
  text-align: center;
}
.Contact .title{
  font-size: 32px;
  margin-top: 100px;
}
.contactForm{
  width: 100%;
  margin: 0 auto;
}
.contactForm p{
  font-size: 1.5rem;
}
.contactForm input{
  padding: 10px 20px;
  font-size: 1rem;
}

.contactForm textarea{
  font-size: 1rem;
  width: 220px;
  height: 180px;
  padding: 10px;
}
.contactSubmit{
  display: block;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin: 30px auto;
  padding: 7px 20px;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.contact-submit-message{
  font-size: 2rem;
  margin: 100px;
}

.Contact .link{
  font-size: 20px;
}

@media screen and (min-width: 321px) and (max-width: 1100px){
  .Form .title{
    margin-top: 120px;
  }
  .contactForm{
    margin-top: 40px;
  }
 .contactForm p{
   margin: 20px;
 }
}
@media screen and (min-width: 321px) and (max-width: 450px){
  .Contact .title{
    margin-top: 40px;
  }
  .contactForm p{
    font-size: 1.2rem;
    padding: 0px;
  }
  .contactForm input {
    border: 0.1px solid #000;
    margin: 0;
  }
  .contactForm textarea {
    border: 0.1px solid #000;
    height: 130px;
  }
}