.date{
  width: 65%;
  margin: 0 auto;
  font-size: 20px;
}
.choice{
  width: 80%;
  font-size: 20px;
  margin-left: 70px;
}


.date-edit {
  display: block;
  width: 80%;
  margin-left: 70px;
}

input[type="date"] {
  font-size: 20px;
  padding: 5px ;
  text-align: center;
}
.dateSubmit{
  font-size: 15px;
  padding: 5px;
}

.date-content {
  display: flex;
  justify-content: center;
}
.date-content h1{
  font-size: 36px;
  
}


.dateDelete{
  display:inline-block;
  font-size: 20px;
  padding: 0px 10px;
 
}
@media screen and (min-width: 321px) and (max-width: 1300px){
  .date{
    font-size: 17px;
    width: 100%;
  }
  .choice{
    margin: 10px 0 10px 60px;
  }
  .date-edit{
    margin-left: 60px;
  }
}

@media screen and (min-width: 321px) and (max-width: 880px){
  .date{
    font-size: 15px;
  }
  .choice{
    margin: 10px 0 10px 100px;
  }
  .date-edit{
    margin-left: 100px;
  }
  .date-edit input {
    width: 140px;
  }
  .date-content h1{
    margin: 2px 0 8px 0;
  }
  input[type="date"] {
    width: 170px;
    font-size: 15px;
  }
}
@media screen and (min-width: 321px) and (max-width: 800px){
  .choice{
    margin: 10px 0 10px 50px;
  }
  .date-edit{
    margin-left: 50px;
  }
}

@media screen and (min-width: 321px) and (max-width: 450px){
  .date{
    font-size: 12px;
  }
  .choice{
    font-size: 16px;
    margin: 10px 0 10px 20px;
  }
  .date-content {
    margin-top:  12px;
  }
  .date-edit{
    margin-left: 20px;
  }
  input[type="date"] {
    width: 160px;
    font-size: 17px;
  }
}