.Tabs{
  width: 70%;
  margin: 0 auto;
}
.TabList {
  border-bottom: 1px solid #aaa;
  margin: 0px 10px 0 10px;
  padding: 10px 0px 0 10px;
}
.TabList li{
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 23px;
}

.TabPanel {
  height: 500px;
  margin: 0 10px;
  border: 1px solid #aaa;
  border-top: none;
}

.TabItem{
  display: flex;
}

@media screen and (min-width: 321px) and (max-width: 1300px){
  .Tabs{
    width: 90%;
  }
  .TabList li{
    font-size: 18px;
    margin-left: 20px;
    padding: 10px 13px;
  }
}

@media screen and (min-width: 321px) and (max-width: 880px){
  .Tabs{
    width: 90%;
  }
  .TabList{
    font-size: 1px;
    padding: 0;
    margin: 0 5px;
  }
  .TabList li {
    padding: 6px 9px;
    margin: 3px 5px 0 10px;
  }
  .TabPanel {
    height: 40rem;
    margin: 0 5px;
    margin-bottom: 40px;
    padding: 0;
  }
  .TabItem {
    display: block;
  }
  
}

@media screen and (min-width: 321px) and (max-width: 450px){
  .Tabs{
    width: 91%;
  }
  .TabList{
    padding: 0;
    margin: 0 5px;
    margin-top: 10px;
  }
  .TabList li {
    font-size: 12px;
    padding:6px;
    margin: 0 0 0 4px;
  }
  .TabPanel {
    height: 30rem;
    margin: 0 5px;
    margin-bottom: 40px;
    padding: 0;
  }
}

  