.Form{
  border: none;
}

form{
  width: 400px;
  margin: 0;
}

.inputForm {
  padding: 9px 3px;
  font-size: 16px;
}
.submit{
  margin-left: 10px;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (min-width: 321px) and (max-width: 1600px){
  form{
    width: 350px;
  }
}
@media screen and (min-width: 321px) and (max-width: 1100px){
 form{
   width: 350px;
 }
}
@media screen and (min-width: 321px) and (max-width: 1000px){
  form{
    width: 300px;
  }
}
@media screen and (min-width: 321px) and (max-width: 880px){
  .inputForm {
    padding: 7px 1px;
    font-size: 16px;
  }
  .submit{
    margin-left: 8px;
    padding: 5px 10px;
    font-size: 16px;
  }
  form{
    width: 400px;
  }
}

@media screen and (min-width: 321px) and (max-width: 450px){
  form{
    width: 250px;
  }
  .inputForm {
    padding: 4px 1px;
    font-size: 16px;
    width: 180px;
  }
  .submit{
    margin-left: 8px;
    padding: 3px 8px;
    font-size: 16px;
  }
  .cell{
    border: none;
  }
}