.list ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.list{
  float:left;
  padding-right: 2px;
  font-size: 1.5rem;
  width: 200px;
}
.memo{
  width:180px;
  padding-left: 20px;
}

// .delete {
//   height: 20px;
//   border: none;
//   padding: 6px;
//   background-color: rgb(255, 255, 255);
// }

// .delete-icon{
//   padding: 0 ;
//   font-size: 25px;
//   color: rgba(57, 58, 59, 0.911);
// }

.delete{
  margin-top: 5px;
}

@media screen and (min-width: 321px) and (max-width: 1100px){
  .list{
    font-size: 25px;
  }
  // .delete {
  //   width: 30px;
  //   height: 30px;
  //   padding: 0 4px;
    
  // }
  // .delete-icon{
  //   font-size: 20px;
  // }
}
@media screen and (min-width: 321px) and (max-width: 880px){
  .memo{
    width:100px;
  }
  // .list {
  //   font-size: 5px;
  //   margin: 0;
  //   width: 100%;
  //   padding: 0;
  // }
  // .list ul{
  //   margin-top: 12px;
  //   padding: 0 0 0 30px;
  //   width: 100%;
  //   height: 220px;
  // }
  .list{
    font-size: 20px;
  }
  // .delete {
  //   height: 30px;
  //   padding: 0;
  // }
}

@media screen and (min-width: 321px) and (max-width: 450px){
  .list {
    font-size: 18px;
    margin: 0;
    width: 100%;
    display: flex;
  }
  .list ul{
    margin-top: 0;
    padding: 0 0 0 10px;
    width: 100%;
    height: 10px;
  }

  // .delete-icon{
  //   font-size: 15px;
  // }
  .MenuRow{
    padding: 0;
  }
}